.showPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 750px;
  margin: 0 auto;
  color: #c8c8c8;
  font-family: Arial;
}

.showPage__info {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

.info__image {
  margin: 0 30px 0 0;
}

.info__list {
  width: 500px;
}

.info__item {
  display: flex;
  padding: 10px;
  background-color: #303030;
  font-family: Arial;
  font-size: 16px;
}

.info__item:nth-child(even) {
  display: flex;
  background-color: #111;
}

.info__text {
  width: 100px;
}

.info__data {
  color: #dcdcdc;
}

.info__icon{
  height: 300px;
  width: 220px;
}

.showPage__summary {
  background-color: #222;
  padding: 20px;
  margin-bottom: 30px;
}

.summary__title {
  text-align: center;
  font-size: 20px;
  margin: 0 0 20px 0;
  color: #dcdcdc;
  font-weight: 600;
}

.summary__text {
  text-align: justify;
  text-indent: 20px;
  font-size: 16px;
  line-height: 1.7;
}

.person__title{
  text-align: center;
  margin-bottom: 15px;
  color: #dcdcdc;
  font-size: 24px;
  font-weight: 600;
}

.showPage__personList {
  display: flex;
  flex-wrap: wrap;
}

.personList__title {
  text-align: center;
  margin-bottom: 15px;
  color: #dcdcdc;
}

.personList_item{
  margin: 15px;
}

.personList__img {
  height: 300px;
  width: 220px;
}

.search__loading {
  position: absolute;
  top: 40%;
  left: 50%;
}

.loading__text {
  margin: 30px auto;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  color: #c8c8c8;
}

.search__loader,
.search__loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.search__loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}